@font-face {
    font-family: Darkline ;
    src: url('../../assets/Darkline.ttf') format('truetype');
  }

.job_container_img{
    display: inline-block;
    position: relative;

    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.job_container{
    display :flex;
    justify-content: flex-start;
    align-items: center;

}
.job_container_buton{
    width: 50%;

}
.job_container_buton h3{
   color: #233487;
   font-weight: bold;

}

.job_img{

    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}
.job_title{
    color: #233487;
    font-weight: bold;
}
.job_title_p{
    font-family: Darkline;
   font-size:100px;
    background: #233487;
    background: linear-gradient(to right, #233487 30%, #38bef1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Mobil */
@media (max-width: 768px) {
    .job_container{
        display :flex;
       flex-direction: column;
    
    }
    .ocultar{
        display: none;
    }
} 
@media (min-width: 768px) {
    
    .ocultar{
        display: none;
    }
} 

